html {
  background-color: silver;
}
body {
  margin: 0;
}
html, textarea {
  font-family: sans-serif;
  color: black;
}

snippet-comp {
  width: 100vw;
  display: block;
}
.snippet {
  margin: 5px auto 1rem auto;
  box-shadow: 1px 1px 5px 1px gray;
  border-radius: 5px;
  max-width: 60rem;
  display: grid;
  grid-template-columns: auto 3rem;
  grid-template-rows: auto auto;
}
.snippet > .metadata {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: flex-start;
}
.snippet > .snippet-content {
  background-color: white;
  padding: 4px;
  cursor: text;
  grid-column: 1;
  grid-row: 2;
}
.snippet > .snippet-buttons {
  position: static;
  margin: 0;
  justify-self: end;
  grid-column: 2;
  grid-row: 1 / span 2;
}


material-button {
  background-color: white !important;;
}


.lock-duration {
  position: fixed;
  top: 0;
  right: 0;
}
.lock-duration > div > h2 {
  font-size: 0.9rem;
  color: gray;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-height: 60rem) {
  .header-bar {
    height: 2rem;
  }
  h1 {
    font-size: 1.1rem;
    margin-top: 0.8rem;
  }
}


@media screen and (max-width: 60rem) {
  .toolbar material-button .content {
    font-size: 0;
  }
  .toolbar material-button .content material-icon {
    font-size: 1rem;
  }
}
