html {
    background-color: silver;
}

body {
    height: 100%;
    margin: 0;
}

html, textarea, input {
    font-family: sans-serif;
    color: black;
    font-size: 1rem;
}

.header-bar {
    background-color: dimgray;
}

material-button[raised] {
    background-color: white !important;
}

.clickable:hover {
    color: darkred;
}

.value-none {
    color: silver;
}

code {
    color: red;
    background-color: #eee;
    border-radius: 0.2em;
    font-weight: bold;
}

div#wait-overlay.active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: wait;
    z-index: 100000;
    background: black;
    opacity: 0;
}

@media screen and (max-height: 60rem) {
    h1 {
        font-size: 1.1rem;
        margin-top: 0.8rem;
    }
}

@media screen and (max-width: 60rem) {
    .toolbar material-button {
        min-width: 50px !important;
    }

    material-dialog material-button {
        min-width: 50px !important;
    }

    material-button .content {
        font-size: 0;
    }

    material-button .content material-icon {
        font-size: 1rem;
    }
}

.toolbar {
    width: 60rem;
    margin: auto;
    max-width: 100%;
}

.toolbar div {
    display: contents;
}

.toolbar-container {
    padding-top: 10px;
    background-color: dimgrey;
}

/*******************************************************************************************/
.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: silver;
}

.scrollable::-webkit-scrollbar {
    width: 12px;
    background-color: dimgray;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: black;
}

/*******************************************************************************************/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(font_icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(font_icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(font_icons/MaterialIcons-Regular.woff) format('woff'),
    url(font_icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}